---
import { getLatestLaunches, getLaunchById } from "../../services/spacex";
import Layout from "../../layouts/Layout.astro";


export const prerender = false;

// export async function getStaticPaths() {
//   //Llamar una API externa

//   const launches = await getLatestLaunches();

//   return launches.map((launch) => ({
//     params: { id: launch.id }
//   }))

// }

const { id } = Astro.params;

let launch;
if (id) {
  launch = await getLaunchById({ id });
}


---

<Layout title={`Lanzamiento ${id}`} >
  <article class="w-full flex flex-col gap-y-4 justify-center">
    <img class="w-52 h-auto" src={launch?.links?.patch.small} alt={launch?.name} />
    <h2 class="text-4xl text-white font-bold">Launch # {launch?.flight_number}</h2>
    <p class="text-lg">{launch?.details}</p>
    {launch.id}
  </article>
</Layout>
